@media only screen and (max-width:1740px){.my_think_form_holder input[type="text"]{width:78%;}
}
@media only screen and (max-width:1700px){.sk_comment_text p{width:82%;}
}
@media only screen and (max-width:1600px){header .sk_first_line_container{width:98%;}
.wpsg-t3-item{width:28% !important;}
.sk_first_line_container li:last-child{margin-left:8%;}
.money_icon_holder_1 span{margin-left:0 !important;}
.money_icon_holder_2 span{margin-left:0 !important;}
.sk_first_line_container li{margin-left:12%;}
.sk_slider_slides_2{margin-top:-30%;}
.sk_slider_slides_3{margin-top:-30%;}
.sk_slider_slides_4{margin-top:-30%;}
.sk_slider_slides_5{margin-top:-30%;}
.sk_galery_image_wraper>a>img{width:82%;}
.sk_galery_pict_wraper{width:98%;}
.sk_galery_search_holder input[type="text"]{width:73%;}
}
@media only screen and (max-width:1560px){.sk_galery_not_main_category_wraper>ul>li{width:21%;}
.sk_first_line_container li{margin-left:10%;}
.sk_galery_search_holder input[type="text"]{width:70%;}
}
@media only screen and (max-width:1400px){.money_text1_part_2{width:100%;}
.money_text2_part_2{width:100%;}
.money_text2_part_2 a:nth-child(1), .money_text2_part_2 a:nth-child(2), .money_text2_part_2 a:nth-child(3){margin-right:0px;}
.money_icon_holder_1 span, .money_icon_holder_2 span{margin-left:50px;}
.sk_slider_slides_2{margin-top:-34%;}
.sk_slider_slides_3{margin-top:-34%;}
.sk_slider_slides_4{margin-top:-34%;}
.sk_slider_slides_5{margin-top:-34%;}
#sk_galery_container_holder{width:90%;}
#sk_page_skin_container_holder{width:90%;}
}
@media only screen and (max-width:1370px){.skinali_before:after{right:-120px;}
.sk_footer_triangle1{display:none;}
.sk_slider_slides_2{margin-top:-35%;}
.sk_slider_slides_3{margin-top:-35%;}
.sk_slider_slides_4{margin-top:-35%;}
.sk_slider_slides_5{margin-top:-35%;}
.sk_order_pict_number{margin-left:0;}
.sk_order_pict_holder > img{height:225px;width:100%;}
.sk_order_shadow{height:227px;}
.sk_gallery_holder > ol{padding-left:0px;}
.diler_text_7 form{width:100%;}
.address_main_holder .map_holder{width:94%;}
.address_main_holder .address_holder{width:100%;}
.address_holder h3{margin-bottom:0;margin-top:29px;}
.address_main_holder .address_holder{height:494px;}
.sk_galery_main_category_holder > li{border:1px solid #000;box-shadow:0 -1px 0 #454545;font-size:18px;margin-bottom:3px;width:91%;}
.sk_galery_not_main_category_wraper > ul > li > a{font-size:16px;}
.sk_galery_image_triangle1{font-size:102px;}
.sk_galery_image_triangle2{bottom:-25px;font-size:111px;}
.sk_first_line_container li{margin-left:8%;}
.sk_galery_image_wraper>a>img{width:82%;}
.sk_galery_pict_wraper{width:98%;}
.sk_galery_search_holder input[type="text"]{width:67%;}
.call_back{padding:14px 0 22px;}
.sk_our_sites_triangle1{bottom:-14px;font-size:79px;}
.sk_our_sites_triangle2{bottom:-70px;font-size:138px;}
}
@media only screen and (max-width:1280px){.sk_order_pict_number{margin-left:0;width:100%;}
.sk_footer_triangle1{display:none;}
.sk_slider_slides_2{margin-top:-38%;}
.sk_slider_slides_3{margin-top:-38%;}
.sk_slider_slides_4{margin-top:-38%;}
.sk_slider_slides_5{margin-top:-38%;}
.sk_order_pict_holder > img{height:205px;width:100%;}
.sk_order_shadow{height:206px;}
.sk_footer_triangle1{display:none;}
.sk_galery_search_holder input[type="text"]{width:63%;}
.sk_galery_search_holder input[type="submit"]{margin:-3px 0 0 0;}
#right_sidebar{width:15%;}
}
@media only screen and (max-width:1240px){.sk_comment_text p{width:79%;}
.wpsg-t3-item{width:40% !important;}
header > .sk_main_menu li a{padding:2px 5px 0;}
}
@media only screen and (max-width:1024px){.skinali_before{width:100%;float:none;}
.sk_first_line_container .hours{display:none;}
.sk_order_holder > .sk_order_form_holder{width:58%;}
.sk_order_info > .sk_order_info_left{float:none;width:100%;}
.sk_order_info > .sk_order_info_right{float:none;width:100%;}
.sk_order_change_holder{margin:0;box-shadow:1px 0 7px #000;}
.sk_order_info > .sk_order_info_right{text-align:center;}
.sk_order_change_holder > div{float:none;}
.sk_galery_container{width:65%;}
.sk_page_galery_container{width:65%;}
.sk_archive_holder{width:65%;}
.skinali_after{width:100%;float:none;margin-top:100px;}
.skinali_before:after{right:134px;top:113%;content:"До и После";background:none;width:200px;}
.fieldset_1{margin:50px 0 0 0;}
.sk_galery_not_main_category_wraper>ul>li{width:32%;}
.sk_slider_triangle_3{right:22%;}
.sk_first_line_container ul{width:85%;}
.sk_first_line_container li{margin-left:4%;}
.sk_first_line_container li:before{display:none;}
a[class^="our_site_"]{width:275px;}
span[class^="sk_our_sites_text_"]{margin:0 auto;width:100%;}
.sk_footer_triangle1{display:none;}
.sk_slider_slides_2{margin-top:-48%;}
.sk_slider_slides_3{margin-top:-48%;}
.sk_slider_slides_4{margin-top:-48%;}
.sk_slider_slides_5{margin-top:-48%;}
.sk_galery_main_category_holder>li>a{padding:10px 0;}
.sk_galery_search_holder input[type="text"]{width:59%;}
#right_sidebar{width:20%;}
.sk_gallery_wraper>.sk_galery_not_main_category{width:65%;}
.sk_scroll_wraper{height:100px;}
.sk_scroll_buttons a{height:50%;width:17%;}
.sk_slider_triangle_1, .sk_slider_triangle_2, .sk_slider_triangle_3, .sk_slider_triangle_4{display:none;}
.sk_slider_text_holder > h1{font-size:37px;}
.sk_slider_text_holder > h2{font-size:20px;}
#slider_text_holder{display:none;}
.sk_slider_button_holder{left:220px;}
div[class^="sk_category_menu_desc"]{font-size:14px;}
div[class^="sk_category_menu_desc"] span:last-child{margin-left:30px;}
li[class*="sk_category_menu_"]:hover div[class^="sk_category_menu_desc"] span:first-child{margin-left:-14px;}
.sk_galery_image_triangle1{display:none;}
.sk_galery_image_triangle2{display:none;}
.sk_galery_image_wraper > a > img{width:97%;height:80%;}
.sk_galery_image_number{background-color:#191919;bottom:0;padding:5px;position:absolute;right:14px;}
.sk_our_sites_image_paper{display:none !important;}
.sk_our_sites_image_stick{display:none !important;}
.sk_our_sites_image_print{display:none !important;}
.sk_footer_triangle2{display:none;}
.sk_mirror_text, .sk_black_white_text, .sk_sepia_text{font-size:16px;}
.sk_order_pict_holder > img{height:187px;width:100%;}
.sk_order_shadow{height:188px;}
.money_icon_holder_1 span, .money_icon_holder_2 span{margin-left:0;}
.sk_gallery_holder > ul{padding-left:0;}
.sk_gallery_holder > ol{padding-left:0;}
}
@media only screen and (max-width:800px){.sk_slider_holder{display:none;}
.sk_gallery_holder .sk_galery_container #sk_galery_container_holder > p,
.sk_gallery_holder .sk_galery_container #sk_galery_container_holder > ol,
.sk_gallery_holder .sk_galery_container #sk_galery_container_holder > ul,
.sk_page_galery_container #sk_page_skin_container_holder > p,
.sk_page_galery_container #sk_page_skin_container_holder > ol,
.sk_page_galery_container #sk_page_skin_container_holder > ul{text-align:left;font-size:16px;}
.zoomContainer{display:none;}
.sk_first_line_container li:last-child{margin-left:5%;}
.sk_galery_image_wraper{width:98%;margin:10px auto;}
#right_sidebar{width:23%;}
.sk_gallery_wraper>.sk_galery_main_category{width:20%;}
.sk_gallery_wraper>.sk_galery_not_main_category{width:57%;}
.sk_galery_main_category_holder>li>a{padding:0 0 0 2px;}
a[class^="our_site_"]{width:200px;}
span[class^="sk_our_sites_text_"]{margin:0 auto;width:100%;}
.sk_footer_triangle1{display:none;}
div[class^="sk_category_menu_desc"]{display:none;}
.sk_galery_image_triangle1{display:none;}
.sk_galery_image_triangle2{display:none;}
.sk_galery_image_wraper > a > img{width:100%;height:100%;}
.sk_galery_image_number{background-color:#191919;bottom:10px;padding:5px;position:absolute;right:11px;}
.sk_galery_container{width:57%;}
.sk_page_galery_container{width:57%;}
.sk_our_sites_image_paper{display:none !important;}
.sk_our_sites_image_stick{display:none !important;}
.sk_our_sites_image_print{display:none !important;}
.sk_footer_triangle2{display:none;}
.sk_category_menu_ico{display:none;}
.sk_category_menu{height:43px;}
.sk_category_menu_holder li{width:12.8%;background:#191919;}
.sk_archive_holder{width:52%;}
.sk_post_date_in #image-box{display:none;}
.sk_post_date_in .date-box > span{display:block;}
.sk_post_date_triangle1, .sk_post_date_triangle2{display:none;}
.sk_post_date_in .date-box{box-shadow:none;position:relative;left:0;}
.sk_post_content{margin-left:50px;}
.sk_gallery_holder .sk_galery_container #sk_galery_container_holder > ol{padding-left:40px;}
.right_menu_holder .sk_page_galery_container #sk_page_skin_container_holder > ol{padding-left:40px;}
.sk_post_date_in{width:auto;height:auto;}
header > .sk_main_menu li a{padding:2px 4px 0;}
header > .sk_main_menu li{border-left:0 none;box-shadow:0 0 0;}
.sk_galery_main_category_header_triangle1{display:none;}
.sk_galery_main_category_header_triangle2{display:none;}
.sk_galery_main_category_holder > li:first-child, .sk_galery_main_category_holder > .sk_galery_main_category_color{font-size:18px;padding-left:22px;width:81%;}
.sk_galery_main_category_holder > li > a{font-size:18px;}
.sk_galery_main_category_holder > li{padding:8px 0;}
.sk_galery_not_main_category_wraper > ul > li{width:47%;}
.sk_galery_pagination_holder ul li{margin:0 8px 10px;}
.sk_category_menu_holder li a{border-right:0 none;box-shadow:0 0 0;}
div[class^="sk_category_menu_name"] span:last-child{display:none;}
li[class*="sk_category_menu_"]:hover div[class^="sk_category_menu_name"] span:first-child{margin-left:0px;}
li[class*="sk_category_menu_"]:hover div[class^="sk_category_menu_name"]{border-bottom:0 none;}
div[class^="sk_category_menu_name"]{border-bottom:0 none;}
.sk_mirror_text, .sk_black_white_text, .sk_sepia_text{display:none;}
.sk_order_change_holder{height:108px;width:100%;}
.sk_order_pict_number{font-size:25px;}
.sk_order_form > .sk_submit_holder > input[type="submit"]{width:64%;}
.sk_order_pict_holder > img{height:156px;width:100%;}
.sk_order_shadow{height:157px;}
.slideshow-wrapper{display:none !important;}
.sk_gallery_holder > ul{list-style-position:inside;padding-left:0;}
.sk_gallery_holder > ol{list-style-position:inside;padding-left:0;}
div[class^="icon_for_diler_"]{display:none;}
div[class^="diler_text_"]{width:97%;}
div[class^="diler_text_"] > h4{margin:0 auto 10px;width:80% !important;}
.diler_text_7 form{float:right;width:100%;}
.address_main_holder .map_holder{width:90%;}
.address_main_holder{height:860px;}
.address_main_holder .address_holder{float:none;padding-left:0;width:100%;}
.address_holder table{margin-top:-3px;}
.address_holder h3{margin-bottom:0;margin-top:25px;}
.money_icon_holder_1 span, .money_icon_holder_2 span{display:none;}
div[class^="money_text_holder_"]{width:100%;}
.sk_scroll_wraper{height:100px;}
.sk_scroll_buttons a{height:50%;width:17%;}
.sk_galery_search_holder input[type="text"]{margin-left:3px;width:58%;}
.menu-glavnoe-menyu-container{width:100%;overflow:hidden;}
div[id^="sk_pict_light_"]{height:177px;width:633px;margin-left:10%;margin-top:-80%;}
.sk_pict_light_holder img{height:125px;}
}
@media only screen and (max-width:768px){.sk_first_line_container .free_delivery{display:none;}
#menu-glavnoe-menyu li:nth-last-child(1),
#menu-glavnoe-menyu li:nth-last-child(2),
#menu-glavnoe-menyu li:nth-last-child(3),
#menu-glavnoe-menyu li:nth-last-child(4){display:block;}
.sk_first_line_container .free_vizual a{color:#00c7fd !important;letter-spacing:1px;}
.sk_category_menu_holder li a:hover div[class^="sk_category_menu_name"] span:first-child{color:#00c7fd !important;}
.sk_galery_search_holder input[type="text"]{width:56%;}
#works_holder .box_images, #works_holder .box_video{float:none;width:100%;margin-bottom:15px;}
#works_holder .link_gallery{font-size:32px;}
#right_sidebar{display:none;}
.sk_gallery_wraper .sk_galery_not_main_category{width:72%;}
.sk_order_holder > .sk_order_form_holder{width:72%;float:right;}
.sk_order_holder{overflow:hidden;}
.sk_gallery_wraper .sk_galery_main_category{width:27%;}
.sk_order_holder .sk_galery_main_category{width:27%;}
.sk_galery_image_number{bottom:0;}
.sk_galery_image_wraper > a > img{width:99%;}
.sk_galery_image_wraper{height:auto;}
.sk_first_line_container .our_phones{display:none;}
.sk_first_line_container ul{width:80%;}
.sk_first_line_container li{margin-left:11%;}
.sk_category_menu{margin:0 3% 0 0;width:25%;float:right;height:0px;}
.sk_first_line_container li:last-child{float:right;margin-right:1%;}
#menu_right_trigger{display:block;}
#menu_left_trigger{display:block;}
.menu-glavnoe-menyu-container{display:none;}
.menu-glavnoe-menyu-container{width:35%;float:left;background:#191919 none repeat scroll 0 0;position:absolute;top:39px;left:16px;}
header > .sk_main_menu li{background:rgba(0, 0, 0, 0) url("images/background.png") repeat scroll 0 0;border:1px solid #000;box-shadow:0 -1px 0 #454545;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;padding:4px 0;float:none;display:block;text-align:center;}
header > .sk_main_menu li a{-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;width:100%;display:block;padding:0;margin:0;}
header > .sk_main_menu ul{width:100%;font-size:19px;}
#menu-item-115, #menu-item-113, #menu-item-59, #menu-item-57{float:none;}
.sk_category_menu_holder li{background:rgba(0, 0, 0, 0) url("images/background.png") repeat scroll 0 0;width:auto;margin-top:4%;display:block;padding:2% 0;border:1px solid #000;box-shadow:0 -1px 0 #454545;}
.sk_category_menu_holder li a{padding:0;width:100%;height:auto;display:block;}
.sk_category_menu .sk_category_menu_holder{height:auto;background:#191919;float:right;display:none;}
div[class^="sk_category_menu_name"]{width:auto;height:auto;}
.sk_post_content{margin-left:163px;}
.sk_main_news_holder{width:97%;}
.sk_galery_pagination_holder{margin:5px 0;}
div[class^="sk_galery_pict_col_"]{height:auto;}
a[class^="our_site_"]{width:auto;}
.sk_our_sites > div{margin-left:5%;}
.sk_order_info > .sk_order_info_left{float:none;width:100%;}
.sk_order_info > .sk_order_info_right{float:none;width:100%;}
.sk_mirror_text, .sk_black_white_text, .sk_sepia_text{display:block;}
div[id^="sk_pict_light_"]{width:510px;}
.sk_pict_light_holder img{width:inherit;}
div[id^="sk_pict_light_"]{margin-left:20%;}
#sk_next_lightbox, #sk_prev_lightbox{opacity:1;}
.sk_galery_button_holder{left:0;width:100%;}
.sk_number_holder span{color:#00c7fd;}
.sk_order_form > .sk_submit_holder{width:100%;}
div[id^="sk_pict_light_"]{margin-top:-95%;}
.sk_galery_main_category_holder > li > a{padding:0 0 0 4px;}
.popup_window{max-width:535px;}
.sk_galery_page_wraper{font-size:20px;line-height:23px;}
.skinali_before::after{right:19px;}
.sk_galery_page_wraper ul{text-align:left;}
.left_box_order{width:100%;}
.sk_galery_page_wraper textarea{width:90%;}
.right_box_order{width:100%;margin-top:30px;}
#requirements{font-size:13px;}
.sk_order_pict_holder > img{height:135px;}
.sk_order_shadow{height:137px;}
header > .sk_main_menu{margin-bottom:20px;}
.sk_order_pict_number{margin-bottom:10px;}
.sk_archive_holder{width:72%;float:right;}
.sk_post_content{margin-left:65px;}
.sk_galery_container{width:72%;}
.sk_page_galery_container{width:72%;}
}
@media only screen and (max-width:480px){.popup_window{max-width:407px;}
.wpsg-t3-item{float:none !important;width:80% !important;margin:10px auto !important;}
.sk_archive_holder{width:100%;}
.sk_galery_container{width:100%;}
.sk_page_galery_container{width:100%;}
.sk_galery_page_wraper{font-size:15px;}
.sk_first_line_container .free_vizual a::before{content:"";height:65px;position:absolute;width:65px;display:block;background:rgba(0, 0, 0, 0) url("images/header_icon.png") no-repeat scroll -206px 0;right:0;top:0;}
.sk_first_line_container li h3{display:none;}
.sk_first_line_container .free_vizual a{width:65px;height:65px;}
.sk_first_line_container ul{width:70%;}
.sk_first_line_container ul{padding-top:25px;}
.sk_first_line_container .pw_right_holder{padding-top:9px;}
.sk_category_menu{width:35%;}
.sk_galery_search_holder input[type="text"]{width:58%;}
#works_holder .our_works{width:91%;}
.form_for_us{display:none;}
footer > div{width:50%;}
.sk_our_sites > div{display:block;margin:30px auto;width:90%;}
a[class^="our_site_"]{width:100%;}
.sk_main_news_holder{display:none;}
span[class^="sk_our_sites_image_"]{width:40%;display:block !important;}
span[class^="sk_our_sites_text_"]{width:50%;}
.sk_our_sites_triangle1{display:none;}
.sk_our_sites_triangle2{bottom:-42px;font-size:90px;}
div[id^="sk_pict_light_"]{width:335px;margin-left:45%;}
#sk_prev_lightbox div, #sk_next_lightbox div{height:38%;box-shadow:none;}
footer > div ul li{padding:4px 0;}
.sk_footer_social_holder{width:170%;margin-left:-10px;padding-left:0;}
footer > div{width:42%;}
address{padding-left:0;}
span[class^="sk_our_sites_text_"]{width:57%;}
span[class^="sk_our_sites_image_"]{margin:25px 0 0 6px;}
span[class^="sk_our_sites_text_"] > span:first-child{font-size:20pt;}
.sk_gallery_wraper{position:relative;}
.sk_gallery_wraper > .sk_galery_main_category{position:absolute;width:52%;left:-51%;top:0px;z-index:999;background:#1d1d1d;}
.sk_order_holder .sk_galery_main_category{display:none;}
.sk_breadcrumbs_holder{width:95%;}
.sk_breadcrumbs_holder>a, .sk_breadcrumbs_holder span{margin:7px 7px;font-size:20px;}
header > .sk_main_menu li{padding:10px 0;}
div[class^="sk_category_menu_name"]{padding:10px 0;}
.pluso-010010011010-06 .pluso-wrap a{margin:3px 0 0 15px;}
.sk_order_holder > .sk_order_form_holder{width:100%;}
.sk_gallery_wraper > .sk_galery_not_main_category{width:100%;position:relative;}
.sk_gallery_holder .sk_galery_container #sk_galery_container_holder > ul{padding-left:40px;}
.right_menu_holder .sk_page_galery_container #sk_page_skin_container_holder > ul{padding-left:40px;}
.sk_first_line_container .free_vizual, .sk_galery_main_category_holder > li:first-child, .sk_galery_main_category_holder > .sk_galery_main_category_color, .sk_color_holder{display:none;}
.sk_first_line_container ul{width:64%;}
.menu-glavnoe-menyu-container{width:65%;}
.sk_category_menu{width:45%;position:absolute;right:0px;}
#menu_button{display:block;}
#works_holder .link_gallery{font-size:23pt;}
div[id^="sk_pict_light_"]{width:293px;margin-left:222px;height:140px;}
.sk_pict_light_holder img{height:69px;}
#sk_prev_lightbox div, #sk_next_lightbox div{margin-top:32px;}
#sk_prev_lightbox div, #sk_next_lightbox div{height:58%;width:30px;}
.sk_galery_close{top:--33px;right:9px;}
div[id^="sk_pict_light_"]{margin-top:-220%;}
#arrow_up{display:block;position:absolute;top:-55px;left:10px;background:url(images/up42.png) no-repeat;width:42px;height:42px;background-size:42px 42px;border-radius:3px;z-index:9999;cursor:pointer;}
.sk_our_sites_holder{position:relative;margin-top:58px;}
#sk_next_lightbox, #sk_prev_lightbox{height:100%;}
.sk_galery_button_holder{height:56%;}
.sk_order_change_holder{margin-right:0;}
.sk_order_change_holder > div{width:31%;}
.sk_mirror_text, .sk_black_white_text, .sk_sepia_text{font-size:13px;}
.sk_order_pict_number{margin-left:0;width:100%;}
.popup_window{max-width:260px;}
.popup_triangle1, .popup_triangle2{display:none;}
.sk_galery_main_category_holder .search_item{display:none;}
.sk_order_pict_holder > img{height:90px;}
.sk_order_shadow{height:92px;}
.diler_text_7 form table tr td:first-child{display:none;}
.sk_order_info_input > input::-webkit-input-placeholder, .sk_order_form textarea::-webkit-input-placeholder{opacity:1}
.sk_order_info_input > input::-moz-placeholder , .sk_order_form textarea::-moz-placeholder{opacity:1}
.sk_order_info_input > input:-moz-placeholder , .sk_order_form textarea:-moz-placeholder{opacity:1}
.sk_order_info_input > input:-ms-input-placeholder , .sk_order_form textarea:-ms-input-placeholder{opacity:1}
.sk_order_info .sk_order_info_text{display:none;}
.sk_order_comment_holder #sk_order_comment_holder_text{display:none;margin:0 auto;}
}
@media only screen and (max-width:380px){div[id^="sk_pict_light_"]{width:237px;margin-left:247px;}
.wppg_pagination_navigation_links a{padding:0 !important;}
.wppg_pagination_text{padding:0 !important;}
}