.sk_slider_triangle_1{
	top: -204px;
}

.sk_slider_triangle_2{
	top: -137px;
}


.sk_footer_triangle1{
	/*right: -13px;
	bottom: -238px;*/
	right: -100px;
	bottom: -170px;
}

.sk_footer_triangle2{
	bottom: -182px;
}